body {
    height: 200px;
    background-color: #cccccc;
    background-image: linear-gradient(white, #e37316, red);
}

aside {
    float: left;
    background: #000000;
    width: 16%;
    padding: 1.5%;
    height: 100vh;
    color: #000000;
    border-right: 3px solid #4d4d4d;
}

aside img {
    width: 170px;
    float: left;
}


aside ul {list-style: none}
aside ul li {
    font-size: 22px;
    color: #fff;
    display: block;
    margin-top: 27px;
}

aside ul li:hover, aside ul a:hover {
    color: #cc6600;
    text-decoration: none;
    transform: scale(1.05);
}

img {
    width: 300px;
    float: down;
}

main .features {
    float: left;
    text-align: center;
    width: 75%;
    font-size: 22px;
}

main .statistics{
    float: left;
    font-size: 18px;
}
